/**
 *
 * Apply Here your Custom CSS
 *
*/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {

    font-family: 'Droid Arabic Kufi', sans-serif;
}

.h3 {
    font-family: 'Droid Arabic Kufi', sans-serif !important;
}

.mycheckbox {
    margin-top: 6px;
    margin-left: 6px;

}

.mycheckboxdiv {
    text-align: right;

}