/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;

}
.selectpicker{
	width: 100%;
    padding: 10px;
}
.inline-form{
	display:inline;
}
.inline-form  button{
    
    background-color: #cc2424;
    border-color: #b62020;
}
.inline-form  button:hover {
    color: #fff;
    background-color: #a11c1c;
    border-color: #821717;
}