/**
 *
 * Apply Here your Custom CSS
 *
*/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {

    font-family: 'Droid Arabic Kufi', sans-serif;
}

.h3 {
    font-family: 'Droid Arabic Kufi', sans-serif !important;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;

}

